* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

a {
    color: #000;
}

  /* header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.menu-burger {
    background-color: #f4f4f4;
    width: 100%;
}

.header h1 {
    margin: 5%;
    font-size: 4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-style: italic;
    font-stretch: condensed;
    font-weight: bolder;
    color: #a55122;
}

#logo {
    width: 15vw;
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: auto;
}

.header h1::before {
    display: block;
    text-align: center;
    font-size: 1rem;
    padding-top: 1rem;
}

.header ul {
    margin-left: 0%;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: flex;
    justify-content: center;
    padding: 1rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

  /* menu */

.header .menu {
    max-height: 0;
    transition: max-height .5s ease-out;
}

  /* menu icone */

.header .menu-icone {
    cursor: pointer;
    display: block;
    padding: 1rem;
    position: relative;
    user-select: none;
}

.header .menu-icone .nav-icone { /* Définit le span initial */
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    width: 1.375rem;
}

.header .menu-icone .nav-icone:before,
.header .menu-icone .nav-icone:after { /* Définit les spans ajoutés */
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

/* Placer les span au-dessus et au-dessous du span initial */
.header .menu-icone .nav-icone:before {
    top: -5px;
}

.header .menu-icone .nav-icone:after {
    top: 5px;
}

  /* menu bouton */

.header .menu-bouton {
    display: none;
}

.header .menu-bouton:checked ~ .menu {
    max-height: 15rem; /* définit la taille du conteneur des liens*/
}

.header .menu-bouton:checked ~ .menu-icone .nav-icone {
    background: transparent;/* Fait disparaître le span initial*/
}

.header .menu-bouton:checked ~ .menu-icone .nav-icone:before {
    transform: rotate(-45deg); /* fait pivoter le span before de 45 degrès ver la gauche*/
}

.header .menu-bouton:checked ~ .menu-icone .nav-icone:after {
    transform: rotate(45deg);/* fait pivoter le span after de 45 degrès ver la droite*/
}

.header .menu-bouton:checked ~ .menu-icone .nav-icone:before,
.header .menu-bouton:checked ~ .menu-icone .nav-icone:after {
    top: 0; /* Déplace les span pour les superposer */
}

/* 48rem = 768px qui est la résolution min des écran pc*/

@media (min-width: 1025px) {

    .header {
        height: 10rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0%;
    }

    .header-title {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #logo {
        margin: 1rem;
        width: 8rem;
    }

    .header h1 {
        margin: 1rem 0rem 1rem 0rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif ;
        font-style: italic;
        font-stretch: condensed;
        font-weight: bolder;
        color: #a55122;
        width: 80%;
        font-size: 1.35rem;
    }

    .header h1::before {
        padding: 0rem;
    }

    .menu-burger {
        background-color: white;
        width: 50%;
    }

    .header ul {
        margin: 0%;
        padding: 0%;
        width: 100%;
        list-style: none;
        overflow: hidden;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .header li {
        width: 100%;
    }

    .header li a {
        padding: 0%;
        text-transform: uppercase;
        font-size: 1.5vw;
    }

    .header .menu {
        clear: none;
        max-height: none;
    }

    .header .menu-icone {
        display: none;
    }
}

/* For tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        height: 10rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0%;
    }

    /* Mise en page du menu */
    .menu-burger {
        background-color: #f4f4f4;
        padding: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .header-title {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /* Logo et titre */
    #logo {
        margin: 1rem;
        width: 8rem;
    }

    .header h1 {
        margin: 1rem 0rem 1rem 0rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif ;
        font-style: italic;
        font-stretch: condensed;
        font-weight: bolder;
        color: #a55122;
        width: 80%;
        font-size: 1.35rem;
    }

    .header h1::before {
        padding: 0rem;
    }

    /* Navigation */
    .header ul {
        margin: 0%;
        padding: 0%;
        width: 100%;
        list-style: none;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .header li {
        width: 100%;
    }

    .header li a {
        padding: 0%;
        text-transform: uppercase;
        font-size: 2.5vw;
    }

    /* Cacher le menu burger */
    .header .menu {
        clear: none;
        max-height: none;
    }

    .header .menu-icone {
        display: none;
    }
}